<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>xemdoanhthu</servlet-name>
        <servlet-class>controller.xemdoanhthu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServerlet</servlet-name>
        <servlet-class>controller.UploadFileServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>controller.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyTT</servlet-name>
        <servlet-class>controller.DangKyTT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>
            /ckfinder/core/connector/java/connector.java
        </url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Trang chu</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trang chu</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dangnhap</servlet-name>
        <jsp-file>/dangnhap.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dangnhap</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dangxuat</servlet-name>
        <jsp-file>/dangxuatkh.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dangxuat</servlet-name>
        <url-pattern>/dangxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdoanhthu</servlet-name>
        <url-pattern>/xemdoanhthu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServerlet</servlet-name>
        <url-pattern>/UploadFileServerlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CapNhatTT</servlet-name>
        <servlet-class>controller.CapNhatTT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CapNhatTT</servlet-name>
        <url-pattern>/CapNhatTT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyTT</servlet-name>
        <url-pattern>/DangKyTT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
